<!DOCTYPE html>
<html>
  <head>
    <title>Diversify by Spotify</title>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/master.css">
    <meta name="description" content="Diversify was a weekend event arranged by Spotify, focused on diversity and creativity in the tech field.">
    <meta name="keywords" content="spotify,diversity,hackathon,women,tech">
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  </head>
  <body>

    <header role="banner" class="parallax-header">
      <h1 class="parallax-logo"><img src="images/logo.svg" alt="Diversify by Spotify" /></h1>
    </header>

    <main role="main">
      <div class="wrapper">
        <section class="section-story">

          <div class="story__intro">
            <p>
              Diversify was a weekend event at Spotify in Stockholm, where 40 tech students of diverse backgrounds came together and designed, wrote code, and found new friends.
            </p>

            <p>
              They were all teams consisting of an equal share of men and women, and also different technical interests.
            </p>

            <p>
              <strong>And their results were insanely cool.</strong>
            </p>

            <p>
              <i class="icon"></i>
            </p>
          </div>

          <div class="story__bubbles">

            <div class="row">
              <img src="/images/stage.jpg" />
              <p>
                Technology is all around us, after all. In a larger, high level perspective, Diversify was organized by us due to the current situation in the tech scene: it’s not very gender balanced. We were tired of hosting hackathons with homogen audiences. We wanted change and a different mix of people! Our world is inhabited by both men and women, so why shouldn’t the tech scene reflect that?
              </p>
            </div>

            <div class="row">
              <img src="/images/computer.jpg" />
              <p>
                By <strong>forcing</strong> a 50/50 divide between men and women, 40% of the applications to the event (with forty spots) were from women. That has never happened for any of our tech events before. Why? We are not entirely sure. But instead of patting ourselves on the back for this, we should figure out a way to achieve a 50/50 attendance rate <em>without</em> forcing it.
              </p>
            </div>

            <div class="row">
              <img src="/images/computers.jpg" />

              <p>
                For Diversify, we tried to move away from traditional hackathon concepts (we even avoid using the word ”hackathon” because of its baggage). We refrained from using regular ”hacking food”, like pizza and beer, and had talks and a workshop on diversity. The interface design and idea of each hack was as important as its underlying code.
              </p>
            </div>

          </div>

          <div class="story__ending">

            <p class="further-reading-links">
              <a class="btn" href="https://labs.spotify.com/2015/01/13/diversify-how-we-created-a-hackathon-with-50-50-female-male-participants/"><i class="icon">✒</i> Read our blog post</a>
              <a class="btn" href="https://www.facebook.com/media/set/?set=a.571223332977341.1073741838.184418364991175&type=1"><i class="icon">📷</i> View photos on Facebook</a>

              <a class="btn" href="https://open.spotify.com/user/diversifynow/playlist/5CBO6yJ05024WvfiTygQXS"><i class="icon">♫</i> Listen to the playlist</a>
            </p>

            <blockquote>
              <p>
                “It wasn't like a 'typical' hackathon, it was more than that.”
              </p>
            </blockquote>

            <p>
              We have now showed for the industry, ourselves and the attendees of Diversify that our hypothesis holds:
            </p>

            <p class="highlight">
              Diverse teams create better products
            </p>

            <p>
              Segregation and exclusion will lead to us missing out on the brightest minds, ideas and products. Let create a tech world where everyone are welcome.
            </p>
          </div>

        </section>
      </div>

      <section class="section-teams">
        <h1>The <strong>people</strong> &amp; what they <strong>created</strong></h1>

      {{#each teams}}
      <article class="team">
        <header>
          <div class="team__info">
            <h2>{{name}}</h2>

            {{#if description}}
            <div class="team__description">
              <p>
                {{description}}
              </p>
            </div>
            {{/if}}

            <ul class="team__links">
              {{#if repo}}
              <li><a href="{{repo}}" title="{{repoFromUrl repo}}">
                <span class="icon"></span> Source code</a>
              </li>
              {{/if}}
              {{#if link}}
              <li><a href="{{link}}" title="{{link}}">
                <span class="icon">🌎</span> Live link</a>
              </li>
              {{/if}}
            </ul>
          </div>

          <figure class="team__screenshot">
            {{#if image}}
              {{#if link}}
                <a href="{{link}}"><img src="{{image}}" /></a>
              {{else}}
                <img src="{{image}}" />
              {{/if}}
            {{else}}
              <img src="/images/teams/default.gif" />
            {{/if}}
          </figure>
        </header>

        <ul class="team__members">
        {{#each members}}
          <li>
            <img class="avatar" src="{{gravatar email size=200}}" alt="" />

            <h3>
            {{#if user}}
              <a href="{{githubUser user}}">{{name}}</a>
            {{else}}
              {{name}}
            {{/if}}
            </h3>

            <p class="member__song">
              <strong>{{songTitle song}}</strong>
              <small>{{artist song}}</small>
            </p>

            {{#if motivation}}
            <p class="member__song-text">
              {{motivation}}
            </p>
            {{/if}}
          </li>
        {{/each}}
        </ul>
      </article>
      {{/each}}

      </section>

      <blockquote>
        <p>“I won the best thing. Friends.”</p>
      </blockquote>

      <figure class="group-image">
        <img src="/images/diversify-group.jpg" alt="Group photo" />
      </figure>
    </main>

    <footer role="contentinfo">
      <p>
        For more info and questions, feel free to shoot us an email at
      </p>

      <p>
        <a class="email-link highlight" href="mailto:diversify@spotify.com">diversify@spotify.com</a>
      </p>

      <p>
        Made by

        <strong>the Spotify Street Team</strong>
      </p>

      <div class="thanks">
        <h2>Thanks to …</h2>

        <p>
          <a href="http://confetti.events"><img src="/images/confetti-logo.png" alt="Confetti" /></a>
          <a href="http://urbanears.com"><img src="/images/urbanears-logo.png" alt="Urbanears" /></a>
        </p>

        <p>
          … for sponsoring, and to …
        </p>

        <div class="speakers">
          <p>
            <a href="http://christianheilmann.com/">Christian Heilmann</a>
          </p>
          <p>
            <a href="http://www.heidiharman.com/">Heidi Harman</a>
          </p>
        </div>

        <p>
          … for giving amazing talks.
        </p>
      </div>
    </footer>

    <!-- By Johan, Spotify Street Team 2014 -->
    <script src="javascripts/parallax.js"></script>
  </body>
</html>
